ssh/known_hosts
.config/fish/fishd.*
.config/ranger/history
.tmux/plugins/tmux-*
# But not these files...
!.gitignore
.config/nvim/plugged/
.config/nvim/snippets/
.config/ranger/tagged

.config/ranger/bookmarks\.new

.config/ranger/bookmarks

.config/ranger/colorschemes/__init__\.py

.config/ranger/colorschemes/__pycache__/

.config/ranger/colorschemes/

*.pch

tags

bin/latest\.tar\.gz

vim/.vim/pack

stow/.stowrc

vim/.config/vim/pack/minpac/opt/

vim/.config/vim/pack/minpac/start/

vim/.config/vim/plugged/

vim/.config/vim/autoload/

zsh/.config/zsh/.zcompdump

zsh/.config/zsh/.zcompdump-Thinky-5.8

zsh/.config/zsh/.zsh_history

zsh/.config/zsh/.zshrc.zwc

bin/.local/bin/latest.tar.gz

bin/.local/bin/dbeaver-ce-latest-linux.gtk.x86_64.tar.gz
